@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/cute";
@import "reset";

.app {
  font: var(--font-m);

  user-select: none;

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;

  //Для корректной работы navbar
  width: 100%;

  //Внутренний scrollbar
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
