@use "variables/global";
@use "themes/dark";
@use "themes/light";
@use "themes/cute";
@use "reset";

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  user-select: none;

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
}

.app_redesigned {
  background: var(--bg-redesigned);
  color: var(--text-redesigned);
  min-height: 100vh;
  font: var(--font-m);
}
