.backgroundFill {
  fill: var(--bg-color);
}

.invertedBackgroundFill {
  fill: var(--bg-inverted-color);
}

.mainFill {
  fill: var(--main-color);
}

.noneFill {
  fill: none;
}

.IconWrapper {
  flex-direction: row;
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.size_s {
  width: 1em;
  height: 1em;
}

.size_l {
  width: 2em;
  height: 2em;
}

.size_xl {
  width: 3em;
  height: 3em;
}
