.Icon {
  fill: var(--bg-inverted-color);
}

.IconWrapper {
  flex-direction: row;
  display: flex;
  gap: 0.2em;
}

.size_s {
  width: 1em;
  height: 1em;
}

.size_l {
  width: 2em;
  height: 2em;
}

.size_xl {
  width: 3em;
  height: 3em;
}
