.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-inverted-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.hiddenBtn {
  position: absolute;
  right: -33px;
  bottom: 0px;
}

.hidden {
  width: var(--hidden-sidebar-width);
  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }

  .icon {
    width: 100%;
    padding-left: 35px;
  }
}
