.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 10px;
  opacity: 1;
}

.icon {
  fill: var(--primary-inverted-color);
}

.hidden {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
