.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--bg-inverted-color);
  font-size: var(--font-size-m);

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
  white-space: nowrap;
  flex-shrink: 0;
}

.InputWrapper {
  display: flex;
}
