.app_cute_theme {
  --bg-color: #ffffff;
  --bg-inverted-color: #7166d9;

  --card-color: #7166d9;

  --primary-color: #000000;
  --secondary-color: #7c2bff;
  --primary-inverted-color: rgb(255, 255, 255);
  --secondary-inverted-color: #d6bcff;

  --main-color: rgba(55, 0, 252, 0.651);

  //skeleton
  --skeleton-shadow: rgba(0, 0, 0, 0.2);
  --skeleton-color: #7c2bff25;

  //article
  --article-card-color: #7c2bff13;
}
