.app_dark_theme {
  --bg-color: rgb(43, 43, 43);
  --bg-inverted-color: rgb(255, 255, 255);
  --primary-color: rgb(221, 221, 221);
  --secondary-color: rgb(76, 76, 76);
  --primary-inverted-color: rgb(0, 0, 0);
  --secondary-inverted-color: rgb(167, 167, 167);
  --main-color: rgb(192, 0, 0);

  //************
  //Redesigned
  //************
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;
  //************

  //card
  --card-color: rgb(90, 89, 97);

  //star
  --star-stroke: rgb(221, 221, 221);
  --star-fill: rgb(221, 221, 221);

  //skeleton
  --skeleton-shadow: rgba(255, 255, 255, 0.13);
  --skeleton-color: rgba(82, 82, 82, 0.596);

  //article
  --article-card-color: rgba(255, 255, 255, 0.13);

  //custom ui
  //listbox
  --list-box-options: rgba(255, 255, 255, 0.13);
  --list-box-disabled-option: rgb(0, 0, 0);
  //dropdown
  --dropddown-menu: rgb(82, 82, 82);
  --dropddown-active-item: rgb(0, 0, 0);
  //popover
  --popover-menu: rgb(82, 82, 82);
  --popover-active-item: rgb(0, 0, 0);
}
