.app_dark_theme {
  --bg-color: rgb(43, 43, 43);
  --bg-inverted-color: rgb(255, 255, 255);

  --card-color: rgb(90, 89, 97);

  --primary-color: rgb(221, 221, 221);
  --secondary-color: rgb(76, 76, 76);
  --primary-inverted-color: rgb(0, 0, 0);
  --secondary-inverted-color: rgb(167, 167, 167);
  --main-color: rgb(192, 0, 0);
}
