.app_light_theme {
  --bg-color: rgb(255, 255, 255);
  --bg-inverted-color: rgb(43, 43, 43);

  --card-color: rgb(105, 105, 105);

  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(167, 167, 167);
  --primary-inverted-color: rgb(221, 221, 221);
  --secondary-inverted-color: rgb(76, 76, 76);
  --main-color: rgb(170, 155, 255);

  //skeleton
  --skeleton-shadow: rgba(0, 0, 0, 0.2);
  --skeleton-color: rgba(128, 128, 128, 0.205);
}
