.Button {
  cursor: pointer;
  color: var(--primary-inverted-color);
  padding: 10px 15px;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  background: none;
}

.outline_inverted {
  border: var(--primary-inverted-color) solid 1px;
  color: var(--primary-inverted-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
  font-size: var(--font-size-l);
}

.background_inverted {
  background: var(--bg-inverted-color);
  color: var(--primary-inverted-color);
  border: none;
  font-size: var(--font-size-l);
}

.square {
  padding: 0px;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
