.ArticlesPage {
}

.ArticleTypeHeader {
  display: flex;
  justify-content: right;
  margin-right: auto;

  .ListIcon {
    opacity: 0.2;
  }

  .GridIcon {
    opacity: 0.2;
  }

  .isSelected {
    opacity: 1;
  }
}
