.navbar {
  height: var(--navbar-height);
  background: var(--bg-inverted-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  min-width: 800px;
  z-index: 10;
}
