.navbar {
  height: var(--navbar-height);
  background: var(--bg-inverted-color);
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  min-width: 800px;
}

.login {
  right: 20px;
  position: absolute;
}
