.Dropdown {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  z-index: var(--z-index-dropdown);
  display: flex;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  background: var(--dropddown-menu);
  position: absolute;
  z-index: var(--z-index-dropdown-menu);
  border: none;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.item {
  padding: 10px 20px 10px 20px;
  background: none;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  color: var(--primary-color);
}

.active {
  background-color: var(--dropddown-active-item);
}

.disabled {
  opacity: 0.3;
}

.top-left {
  bottom: 100%;
  right: 0;
}

.top-right {
  bottom: 100%;
  left: 0;
}

.bottom-left {
  top: 120%;
  right: 0;
}

.bottom-right {
  top: 100%;
  left: 0;
}
