.Grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 30px;
  margin-right: 30px;

  .GridItem {
    height: 100%;
    width: 400px;
    border: 1px solid var(--bg-inverted-color);
    padding: 20px;
    cursor: pointer;

    transition: 0.3s;
    &:hover {
      transform: scale(1.01);
      opacity: 0.7;
    }
  }

  .Image {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .ArticleDate {
    display: flex;
    justify-content: right;
    padding: 0px;
  }

  .ArticleTypes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Titile {
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    justify-content: end;
  }
}
.GridSkeletonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  .GridSkeletons {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

.List {
  margin: 30px;

  .ListItem {
    background-color: var(--article-card-color);
    margin-bottom: 60px;
    padding: 20px;

    transition: 0.3s;
    &:hover {
      transform: scale(1.01);
      opacity: 0.9;
    }
  }

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .UserInfoAndDateWrapper {
      display: flex;
      justify-content: space-between;
    }
    .ArticleDate {
      display: flex;
      justify-content: right;
    }

    .UserInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  .Image {
    padding: 10px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .Titile {
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4; // ← Количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
.ListSkeletonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .HeaderUsername {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .ListSkeletons {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
}
