.selected {
  fill: var(--bg-inverted-color);
  stroke: var(--bg-inverted-color);
}

.enter {
  fill: var(--bg-color);
  stroke: var(--bg-inverted-color);
}

.star {
  stroke: var(--bg-inverted-color);
}
