.ArticleDetailsRecommenations {
  background-color: var(--secondary-color);
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;
  padding-bottom: 30px;
}

.list {
  margin-top: 20px;
  flex-wrap: wrap;
}
