.Avatar {
}

.isRound {
  border-radius: 50%;
}

.size_s {
  width: 2em;
  height: 2em;
}

.size_xs {
  width: 5em;
  height: 5em;
}

.size_l {
  width: 10em;
  height: 10em;
}

.size_xl {
  width: 20em;
  height: 20em;
}
