.Flex {
  display: flex;
}
.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}

.alignItemsStart {
  align-items: start;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsEnd {
  align-items: end;
}

.justifyContentsStart {
  justify-content: start;
}

.justifyContentsCenter {
  justify-content: center;
}

.justifyContentsEnd {
  justify-content: end;
}

.gapSize4 {
  gap: 4px;
}

.gapSize8 {
  gap: 8px;
}

.gapSize12 {
  gap: 12px;
}

.gapSize16 {
  gap: 16px;
}

.gapSize20 {
  gap: 20px;
}

.gapSize24 {
  gap: 24px;
}

.gapSize28 {
  gap: 28px;
}

.gapSize32 {
  gap: 32px;
}
