.Code {
  position: relative;

  background-color: var(--bg-inverted-color);
  color: var(--primary-inverted-color);
  padding: 20px;
  border-radius: "5px";
  width: 100%;

  border: 1px solid var(--primary-color);
}

.copyIcon {
  stroke: var(--bg-color);
  right: 20px;
  position: absolute;

  overflow: visible;

  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: 0.8;
  }
}
