.Code {
  position: relative;

  background-color: var(--bg-inverted-color);
  color: var(--primary-inverted-color);
  padding: 20px;
  border-radius: "5px";
  width: 100%;

  border: 1px solid var(--primary-color);
}
.doneIcon,
.copyIcon {
  margin-top: 20px;
  right: 10px;
  position: absolute;
  z-index: var(--z-index-copy-icon);
}

.copyIcon {
  stroke: var(--bg-color);
  overflow: visible;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.doneIcon {
  cursor: default;
  fill: var(--bg-color);
}
