.primary {
  color: var(--primary-inverted-color);
  text-decoration: none;
}

.secondary {
  color: var(--secondary-inverted-color);
  text-decoration: none;
}

.main {
  color: var(--main-color);
  text-decoration: none;
}
