.primary {
  color: var(--primary-inverted-color);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  color: var(--secondary-inverted-color);
  text-decoration: none;
}

.main {
  color: var(--main-color);
  text-decoration: none;
}
