name: Build and tests
on:
  push:
    branches: [master, main, dev]
  pull_request:
    branches: [master, main, dev]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version}}

      - name: Install modules
        run: npm install
      - name: Build prod project
        run: npm run build:prod
      - name: Unit test
        run: npm run test:unit
